

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Utilisation des couleurs Catppuccin Latte (thème clair) */
  --background: theme('colors.ctp-base.DEFAULT');
  --foreground: theme('colors.ctp-text.DEFAULT');
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Utilisation des couleurs Catppuccin Mocha (thème sombre) */
    --background: theme('colors.ctp-crust.DEFAULT');
    --foreground: theme('colors.ctp-text.DEFAULT');
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
